@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
    --font1: sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font1);
}

body {
    justify-content: center;
    background-image: url(../img/972529720226.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background: linear-gradient(to top, rgb(113, 0, 158), rgb(193, 35, 255));
    border-radius: 25px;
    margin: 14px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 1, 0.527);
    overflow: hidden;
}

.header {
    background: linear-gradient(120deg, rgb(113, 0, 158), rgb(193, 35, 255));
    padding: 25px;
    text-align: center;
    color: white;
}

.form {
    padding: 18px;
    width: 100%;
    text-align: center;
}


.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;

}

.form-content input::placeholder {
    color: rgb(187, 99, 209);
}

.form-content label {
    float: left;
    margin-bottom: 4px;
    text-decoration: none;
    color: white;
}

.form-content input {
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    color: rgb(247, 0, 255);

}


input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: border-bottom 0.5s ease, outline 0.5s ease;
}

input[type="text"]:focus {
    border-color: #4586ff;
}

input[type="email"]:focus {
    border-color: #4d8bff;
}

input[type="password"]:focus {
    border-color: #da23ff;
}








.btn {
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: blueviolet;
    border-radius: .5rem;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top,
        border-left,
        border-bottom,
        border-right,
        box-shadow;
}

.btn:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}

.register {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 20px;
}

.register:hover {
    text-decoration: underline;
    cursor: pointer;
}